body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}
/*Container start*/
.container{
    width: 100%;
    margin: 10px 0px;
}
/*Container end*/
.navbar-logo {
    text-decoration: none;
}
.navbar-logo-image{
    display: flex;
}
.navbar{
    padding: 0px 10px;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: none;
    position: absolute;
    right: 1px;
    top: 78px;
}
.navbar-nav-item{
    background-color: #ED1260;
    z-index: 10;
}
.navbar-nav-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
/*burger button start*/
.menu-icon-wrapper {
    width: 40px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    margin-top: 15px;
}
.menu-icon {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #F38A03;
}
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #F38A03;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #F38A03;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active {
    background-color: transparent;
}
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/*burger button end*/
/* Header end */

/*Section_main_screen start*/
.section_main_screen{
    background: url("../img/111.png") no-repeat;
}
.gym{
    margin-top: 85px;
    color: #fff;
    background-color: #000;
    margin-left: 20px;
    border: none;
    padding: 30px 40px;
    font-size: 25px;
}
.text-website{
    color: #fff;
    background-color: #000;
    margin-left: 70px;
    border: none;
    padding: 8px 43px;
    font-size: 16px;
    text-decoration: underline;
}
.pink-rectangle{
    width: 261px;
    height: 55px;
    color: #ED1260;
    background-color: #ED1260;
    margin-top: 236px;
    margin-left: 113px;
}
.text-h2{
    position: absolute;
    width: 265px;
    height: 80px;
    left: 17%;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    color: #fff;
}
/*Section_main_screen end*/
/*Section enrgym start*/
.energym{
    margin-top: 145px;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.energym-img{
    width: 50%;
}
.text-decor{
    text-align: center;
    color: #fff;
    margin: 15px 17px 10px 20px;
}
.img-energym4{
    padding-top: 25px;
}
.img-energym6{
    padding-top: 25px;
}
.img-energym5{
    padding-top: 25px;
}
/*Section enrgym end*/
/*Section map start*/
.map{
    border: 2px solid #ED1260;
    padding: 2%;
}
.map-icon{
    position: relative;
}
.top{
    position: absolute;
    margin-left: -40%;
    margin-top: 13%;
}
.text-section-map{
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}
/*Section map end*/
/*Contacts-f start*/
.contacts-footer{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
}
.contacts-f{
    border: 2px solid #F38A03;
    padding: 3%;
}
.info{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}
.text-decor-footer1{
    display: none;
}
.text-decor-footer{
    margin-left: 5%;
    color: #fff;
}
/*Contacts-f end*/
/*@MEDIA START*/
@media (min-width: 1200px) {
    .navbar-logo{
        padding:0 0 0 50px;
        width: 89px;
        height: 61px;
    }
    .navbar-row{
        justify-content: flex-end;
        align-items: center;
    }
    .menu-icon-wrapper{
        display: none;
    }
    .navbar-nav{
        display: flex;
        position: unset;
        flex-direction: row;
        background-color: #0d0e0e;
        margin-left: 416px;
        padding-top: 22px;
    }
    .navbar-nav-item{
        border-bottom: none;
        margin-right: 90px;
        background-color: #0d0e0e;
    }
    .section_main_screen{
        content: "";
        background-image: url("../img/bbb.png");
        background-size: cover;
        width: 957px;
        height: 513px;
        margin-left: 60px;
    }
    .gym{
        width: 31.25%;
        height: 141px;
        margin-left: 44px;
        font-size: 32px;
    }
    .text-website{
        width: 18.67%;
        height: 45px;
        margin-left: 100px;
        font-size: 22px;
    }
    .pink-rectangle{
        width: 107px;
        height: 347px;
        position: absolute;
        margin-top: -298px;
        margin-left: 957px;
    }
    .text-h2{
        margin-top: 240px;
        display: flex;
        width: 920px;
        margin-left: -125px;
        font-size: 25px;
    }
    .gym-info{
        margin-left: 174px;
        width: 932px;
    }
    .energym{
        display: flex;
        flex-wrap: wrap;
        margin-right: 55px;
    }
    .energym-img{
        display: inline-block;
        width: 24%;
        justify-content: center;
        text-align: center;
        margin-left: 68px;
        color: #fff;
    }
    .img-energym1{
        padding-top: 10px;
    }
    .img-energym2{
        padding-top: 10px;
    }
    .text-decor{
        margin-top: 14px;
        font-size: 17px;
        margin-left: 10px;
    }
    .map{
        width: 579px;
        margin: 0 auto;
    }
    .top{
        margin-left: -21%;
        margin-top: 85px;
    }
    .map-icon{
        width: 525px;
        height: 212px;
        margin: 0px 0px 0px 25px;
    }
    .text-section-map{
        font-size: 22px;
    }
    .contacts-f{
        border: none;
        display: flex;
        justify-content: space-around;
    }
    .email{
        width: 33.3%;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    .info{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .contacts-footer{
        text-align: left;
        margin-left: 140px;
        margin-top: 100px;
        font-size: 45px;
        margin-bottom: 80px;
    }
    .text-decor-footer{
        display: contents;
        font-size: 20px;
    }
    .text-decor-footer1{
        display: flex;
        color: #fff;
        font-size: 20px;
        padding-bottom: 5px;
    }
    .call{
        margin-bottom: 20px;
    }
    .location{
        margin-bottom: 20px;
    }
}
/*@MEDIA END*/